<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Регистрация</title>
  <!---->
  <!---->
  <!---->
  <style>
    .password-container {
      display: flex;
      align-items: center;
    }

    .password-container label {
      margin-right: 10px; /* Это для создания отступа между меткой и полем ввода */
    }
  </style>
  <!---->
  <!---->
  <!---->
</head>
<body>
<h1>Регистрация нового клиента</h1>
<!--Проверяем есть ли сообщение об ошибке-->
<div th:if="${errorMessageRegistration}" style="color: red;"}>
  <p th:text="${errorMessageRegistration}"></p>
</div>
<form th:action="@{/registration}" th:object="${client}" method="post">
  <div>
    <label for="clientLogin">Логин:</label>
    <input type="text" id="clientLogin" name="clientLogin" required pattern="^[^\s]+$" minlength="5" maxlength="25" title="Введите логин длиной 5-25 символов без пробелов"/>
  </div>
  <!---->
  <!---->
  <!---->
  <div class="password-container">
    <label for="clientPassword">Пароль:</label>
    <input type="password" id="clientPassword" name="clientPassword" required pattern="^[^\s]+$" minlength="8" maxlength="18" title="Введите пароль 8-18 символов без пробелов"/>
    <span class="show-password-icon" onclick="togglePasswordVisibility()">
      <!-- Иконка для показа пароля -->
      <img src="/static/images/icons/sun_icon.png" width="16" height="16" alt="Показать пароль"/>

      <!-- Иконка для скрытия пароля -->
      <img src="/static/images/icons/moon_icon.png" width="16" height="16" alt="Скрыть пароль"/>
    </span>
  </div>
  <!---->
  <!---->
  <!---->
  <div>
    <label for="lastName">Фамилия:</label>
    <input type="text" id="lastName" name="lastName" required pattern="^(?!\s)([a-zA-Z]+\s)*[a-zA-Z]+$" minlength="2" maxlength="36" title="Введите фамилию"/>
  </div>
  <div>
    <label for="firstName">Имя:</label>
    <input type="text" id="firstName" name="firstName" required pattern="^(?!\s)([a-zA-Z]+\s)*[a-zA-Z]+$" minlength="1" maxlength="49" title="Введите имя"/>
  </div>
  <div>
    <label for="patronymic">Отчество (опционально):</label>
    <input type="text" id="patronymic" name="patronymic" required pattern="^(?!\s)([a-zA-Z]+\s)*[a-zA-Z]+$" minlength="1" maxlength="100" title="Введите отчество (необязательно)"/>
  </div>
  <div>
    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age" required title="Введите свой возраст"/>
  </div>
  <div>
    <label for="emailAddress">Адрес электронной почты:</label>
    <input type="email" id="emailAddress" name="emailAddress" required title="введите свой адрес электронной почты"/>
  </div>
  <div>
    <label for="phoneNumber">Номер телефона:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" required pattern="(\+?\d{11}|\d{11})" title="Введите номер телефона по шаблону: +71111111111 (12 символов) или 81111111111 (11 символов)"/>
  </div>
  <div>
    <button type="submit">Зарегистрироваться</button>
  </div>
  <!--Кнопка для перехода к странице авторизации-->
  <div>
    <a href="/login">Уже зарегистрированы? Войти</a>
  </div>
</form>
<!---->
<!---->
<!---->
<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('clientPassword');
    const showPasswordIcon = document.querySelector('.show-password-icon');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      showPasswordIcon.querySelector('.bi-eye').style.display = 'none';
      showPasswordIcon.querySelector('.bi-eye-slash').style.display = 'inline';
    } else {
      passwordInput.type = 'password';
      showPasswordIcon.querySelector('.bi-eye').style.display = 'inline';
      showPasswordIcon.querySelector('.bi-eye-slash').style.display = 'none';
    }
  }
</script>
<!---->
<!---->
<!---->
</body>
</html>